* {
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
    height: 250px;
}

.slider {
    width: 400px;
    height: 250px;
    margin: 50px auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    list-style: none;
    width: 1200px;
    height: 250px;
}

.slider li {
    position: relative;
    animation: slide 10s infinite ease-in-out;
}

@keyframes slide {
    0%{left:0px}
    20%{left: 0px;}
    30%{left: -400px;}
    50%{left: -400px;}
    60%{left: -800px;}
    90%{left: -800px;}
    100%{left: 0px;}
}