.container {
    width: 85vmin;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid floralwhite;
    border-radius: 8px;
    box-shadow: 10px 25 px 30px rgba(30, 30, 200, 0.3);
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    /* 25% {transform: translateX(-15%)
    }
    30% {transform: translateX(-30%);
    } */
    33% {transform: translateX(-25%);
    }
    66% {transform: translateX(-100%);
    }
    /* 55% {transform: translateX(-60%)
    }
    75% {transform: translateX(-75%);
    }
    80% {transform: translateX(-100%);
    } */
    100% {transform: translateX(0);
    }
}

img{
    width: 100%
}